.mycategory {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px #67d58d7a;
}

.category-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-content img {
  width: 75%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: -20px;
}

.category-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-dark {
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-dark:hover {
  background-color: #212529;
}

.wishlist-btn {
  position: absolute;
  top: -2px;
  left: 254px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.wishlist-btn:focus {
  outline: none;
}

.category-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
